body{
   font-family: 'Raleway, Helvetica, monospace';
}

#main-container{
  width: 80vw;
  margin: 5vh auto;
  font-family: 'Raleway, Helvetica, monospace';
  font-size: 1.2em;
  font-weight: 500;
}

#location-input{
  margin: 0 auto;
  display: inline-block;
  width: 15em;
  height: 3em;
  text-align: center;
}
form{
  float: right;
}

#plot{
  margin:  0 auto;
  margin-top: 5vh;
}

#description{
  margin:  0 auto;
  text-align: center;
  font-size: 1.3em;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
}

text.mono {
  font-size: 9pt;
  font-family: Roboto, sans-serif;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}
